/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-and {
  background-image: url(sprite.png);
  background-position: -40px -20px;
  width: 16px;
  height: 16px;
}
.icon-facebook {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}
.icon-instagram {
  background-image: url(sprite.png);
  background-position: -20px 0px;
  width: 20px;
  height: 20px;
}
.icon-ios {
  background-image: url(sprite.png);
  background-position: 0px -40px;
  width: 16px;
  height: 16px;
}
.icon-telegram {
  background-image: url(sprite.png);
  background-position: 0px -20px;
  width: 20px;
  height: 20px;
}
.icon-vk {
  background-image: url(sprite.png);
  background-position: -20px -20px;
  width: 20px;
  height: 20px;
}
.icon-youtube {
  background-image: url(sprite.png);
  background-position: -40px 0px;
  width: 20px;
  height: 20px;
}
